body {
    display: flex;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
    font-size: 13px;
}

a {
    text-decoration: none;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 15%;
    height: 100%;
    overflow-y: auto;
    margin-left: 15.5rem;
    padding: 0 1rem 3rem;
    border-right: 1px solid #E6ECF0;
}

.nav-links {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

a.brand {}

a.brand {
    display: flex;
    align-items: center;
    margin: 1rem 0 1.2rem;
}

a.brand img {
    width: 30px;
    height: 30px;
}

a.nl {
    padding: 1.3rem 0;
    display: flex;
    align-items: center;
    color: #14171A;
}

a.nl img {
    width: 26px;
    height: 26px;
    margin-right: 1.5rem;
}

a.nl span {
    font-size: 1.46rem;
    font-weight: 700;
}

a.nav-btn {
    background-color: rgb(29, 161, 242);
    box-shadow: rgba(0, 0, 0, 0.08) 0px 8px 28px;
    border-radius: 25px;
    margin-top: 1rem;
    height: 3.5rem;
    width: 17rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.15rem;
    font-weight: 700;
    color: white;
}

.navf {
    display: flex;
    margin-bottom: 1.5rem;
    width: 100%;
    align-items: center;
}

.navf img.pp {
    border-radius: 50%;
    width: 39px;
    height: 39px;
}

.navname {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 0 1rem;
    font-size: 1.15rem;
    justify-content: flex-end;
}

.navname p {
    font-weight: 700;
    color: ;
}

.navname span {
    color: #657786;
}

main {
    display: flex;
    margin-left: 28.5%;
    height: 100vh;
}

.main-sec {
    display: flex;
    flex-direction: column;
    border-right: 1px solid #E6ECF0;
    width: 46rem;
}

main .msheader {
    display: flex;
    justify-content: space-between;
    padding: 1.2rem 1.5rem;
    border-bottom: 1px solid #E6ECF0;
}

.msheader a {
    color: #14171a;
    font-weight: 800;
    font-size: 1.46rem;
}

.post-tweet {
    padding: 1rem 1.5rem;
    border-bottom: .8rem solid #E6ECF0;
    display: flex;
    flex-direction: column;
}

.type-tweet {
    display: flex;
    align-items: center;
}

.type-tweet img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 1rem;
}

.type-tweet input {
    outline: none;
    border: none;
    flex-grow: 1;
    font-size: 1.46rem;
}

.pt-icons {
    padding: 2rem 0 0 4.85rem;
    display: flex;
    align-items: center;
}

.pt-icons span {
    flex-grow: 1;
}

.pt-icons a.sp {
    margin-right: 1rem;
}

.pt-icons a.btn {
    background-color: rgb(29, 161, 242);
    border-radius: 25px;
    height: 3rem;
    width: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.15rem;
    font-weight: 700;
    color: white;
}

.tweets {
    display: flex;
    flex-direction: column;
}

.tweet {
    display: flex;
    padding: 1rem;
}

.rt img {
    width: 13px;
    height: 18px;
}

.trends-sec {
    width: 27rem;
    margin-left: 2rem;
}

.search {
    width: 99%;
    border-radius: 25px;
    margin: .5rem 0;
    padding: .6rem;
    display: flex;
    align-items: center;
    background-color: #E6ECF0;
    box-sizing: border-box;
}

.search img {
    margin: 0 .5rem;
}

.search input {
    border: none;
    outline: none;
    flex-grow: 1;
    padding: .5rem 0;
    background-color: #E6ECF0;
}

.trends {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: #F5F8FA;
    color: #14171a;
}

.trend-header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #E6ECF0;
}

.trend-header p {
    font-weight: 800;
    font-size: 1.46rem;
}

a.trend {
    display: flex;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid #E6ECF0;
    font-weight: 700;
    font-size: 1.15rem;
    color: #14171a;
}

a.trend:hover {
    background-color: #E6ECF0;
}

a.sm {
    color: #1da1f2;
    font-weight: 400;
    font-size: 1.15rem;
    display: flex;
    align-items: center;
    padding: 1rem;
}

a.sm:hover {
    background-color: #E6ECF0;
}

.wtf {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: #F5F8FA;
    color: #14171a;
}

.wtf p.head {
    display: flex;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid #E6ECF0;
    font-weight: 800;
    font-size: 1.46rem;
}

a.user {
    display: flex;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid #E6ECF0;
}

img.userpic {
    width: 3.77rem;
    height: 3.77rem;
    border-radius: 50%;
    margin-right: 1rem;
}

.user-names {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    font-size: 1.15rem;
    color: #14171a;
}

.user-names p {
    font-weight: 700;
    padding-bottom: .3rem;
}

.user-names span {
    font-weight: 400;
    color: #657786
}

img.sega-icon {
    width: 1.3rem;
    height: 1.3rem;
    margin-left: .3rem;
}

img.verify {
    width: 1.3rem;
    height: 1.3rem;
}

button.fbtn {
    background-color: #F5F8FA;
    border-radius: 25px;
    box-shadow: none;
    border: none;
    padding: .5rem 1.5rem;
    border: 1px solid #1da1f2;
    cursor: pointer;
    color: #1da1f2;
    font-size: 1.15rem;
    font-weight: 700;
}

button.fbtn:hover {
    background-color: #E8F5FE;
    ;
}

a.user:hover {
    background-color: #E6ECF0;
}

footer {
    font-size: 1rem;
    color: #657786;
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
}

footer span {
    display: flex;
    align-items: center;
    padding: .5rem 0 1rem;
}

footer span a {
    color: #657786;
    padding: 0 .3rem;
}

footer span .more {
    display: flex;
    align-items: center;
}

footer span .more img {
    width: 1rem;
    height: 1rem;
    margin-left: .4rem;
}

footer span a:hover {
    text-decoration: underline;
}